.AddRecipe-Container {
    display: flex;
    flex-direction: column;
    margin: 0px 100px 0px 100px;
    height: 100vh;
}

.AddRecipe-RecipeHeader{
    padding: 1rem;
    height: 3rem;
    font-size: 3rem;
    text-align: center;
}

.AddRecipe-RecipeBody {
    height: 100%;
}