.AddRecipe-Container {
  display: flex;
  flex-direction: column;
  margin: 0px 100px 0px 100px;
  height: 100vh;
}

.AddRecipe-RecipeHeader {
  padding: 1rem;
  height: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.AddRecipe-RecipeBody {
  flex-basis: 50%;
}

.AddRecipe-RecipeFooter {
  height: 4rem;
}

.AddRecipe-RecipeHeader-Title {
  font-size: 3rem;
  text-align: center;
  height: 3rem;
  box-sizing: border-box;
}
