.Home-Container {
  display: flex;
  flex-direction: row;
  margin: 100px 0px 100px 0px;
  width: 100wh;
}

.Home-FilterRecipes {
  flex-basis: 13rem;
  flex-grow: 0;
  padding-left: 2rem;
}

.Home-RecipeList {
  flex-grow: 1;
}

.Home-ViewRecipe {
  flex-grow: 2;
}
