.ShoppingList-Container {
  display: flex;
  flex-direction: row;
  margin: 0px 100px 0px 100px;
  height: 100vh;
  margin-top: 3rem;
}

.ShoppingList-SelectedRecipes-Recipe {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.8rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.ShoppingList-SelectedRecipes-Recipe-Remove {
  border: 1px solid gray;
  padding: 3px 12px;
  font-size: 1rem;
  cursor: pointer;
}

.ShoppingList-SelectedRecipes-Recipe-Remove:hover {
  background-color: gray;
  color: white;
}

.ShoppingList-SelectedRecipes-Header {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.ShoppingList-SelectedRecipes-Recipes {
  margin-left: 1.3rem;
}

.ShoppingList-SelectedRecipes-Container {
  flex-grow: 1;
  margin-right: 5rem;
  padding-left: 15px;
}

.ShoppingList-Pantry-Container {
  flex-grow: 3;
}

.ShoppingList-Pantry-Header {
  font-size: 2rem;
}

.ShoppingList-Pantry-Table-Container {
  display: flex;
  flex-direction: column;
}

.ShoppingList-Pantry-Table-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ShoppingList-Pantry-Table-Header {
  background-color: gray;
}
