.FilterRecipes-FilterGroups {
  padding: 1rem 1rem 0rem 0rem;
  margin-bottom: 0.5rem;
  user-select: none;
}

.FilterGroup-Title {
  margin-bottom: 0.5rem;
  font-size: 1.3em;
}

.FilterGroup-TagList {
  padding-left: 1rem;
}

.FilterGroup-Container {
  margin-bottom: 1rem;
}

.FilterGroup-Tag {
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.FilterGroup-Tag-selected {
  margin-bottom: 0.3rem;
  color: #0984e3;
  cursor: pointer;
}

.FilterRecipes-Input {
  box-sizing: border-box;
  height: calc(1.5rem + 13px);
  width: 95%;
  font-size: 1.75rem;
}
