.IngredientSelecter-Ingredient-container {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  line-height: 1.1rem;
  width: 11rem;
  user-select: none;
  margin-left: 1rem;
}

.IngredientSelecter-Ingredient {
  cursor: pointer;
}

.IngredientSelecter-Ingredient-selected {
  color: #0984e3;
}

.IngredientSelecter-Ingredient-header {
  font-size: 1.5rem;
  margin-left: -1rem;
  margin-bottom: 0.5rem;
}
