.IngredientRow-Cell {
  box-sizing: border-box;
  border: 1px gray solid;
  margin-right: 1.5rem;
  text-align: center;
}

.IngredientRow-Cell-Amount {
  width: 6rem;
}

.IngredientRow-Cell-Unit {
  width: 6rem;
}

.IngredientRow-Cell-Item {
  width: 9rem;
}

.known-ingredient {
  border: 1.5px #27ae60 solid;
}

.unknown-ingredient {
  border: 1.5px #2980b9 solid;
}

.IngredientRow-Cell-Store {
  width: 9rem;
}

.IngredientRow-Cell-Type {
  width: 9rem;
}

.IngredientRow-Container {
  margin-bottom: 1rem;
}

.IngredientRow-Form {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-left: 1rem;
}

.IngredientRow-Input {
  border: none;
  width: 95%;
}

.IngredientRow-Input:focus {
  outline: none;
  border: none;
}
