.Navbar-Container {
  justify-content: space-between;
  height: 100%;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  flex-basis: 64px;
  padding: 0rem 10rem 0rem 20rem;
}

.Navbar-TitleText {
  font-size: 2rem;
  padding-left: 10px;
}

.Navbar-Title {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Navbar-ActionsContainer {
  align-items: center;
  font-size: 1.5rem;
}

.Navbar-ActionsContainer > * {
  margin-right: 10rem;
}

.Navbar-Action-Add {
  cursor: pointer;
}

.Navbar-Link {
  font-size: 20px !important;
}
