.Navbar-Container {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #0985e387;
  flex-basis: 64px;
}

.Navbar-TitleText {
  font-size: 2rem;
  padding-left: 10px;
}

.Navbar-Title {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Navbar-ActionsContainer {
  align-items: center;
  font-size: 1.5rem;
}

.Navbar-ActionsContainer > span {
  padding-right: 1rem;
}

.Navbar-Action-Add {
  cursor: pointer;
}

.Navbar-Link {
  font-size: 20px !important;
}
