.PantrySelecter-Container {
  display: flex;
  flex-direction: column;
}

.PantrySelecter-SelectedRecipes-Recipe {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.8rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.PantrySelecter-SelectedRecipes-Recipe-Remove {
  border: 1px solid gray;
  padding: 3px 12px;
  font-size: 1rem;
  cursor: pointer;
}

.PantrySelecter-SelectedRecipes-Recipe-Remove:hover {
  background-color: gray;
  color: white;
}

.PantrySelecter-SelectedRecipes-Header {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.PantrySelecter-SelectedRecipes-Recipes {
  margin-left: 1.3rem;
}

.PantrySelecter-SelectedRecipes-Container {
  flex-grow: 1;
  margin-right: 5rem;
}

.PantrySelecter-Pantry-Container {
  flex-grow: 3;
}

.PantrySelecter-Pantry-Header {
  font-size: 2rem;
}

.PantrySelecter-Pantry-Table {
  column-count: 2;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  font-size: 1.2rem;
}

.PantrySelecter-Row {
  cursor: pointer;
  user-select: none;
  color: gray;
}

.PantrySelecter-Row:hover {
  color: black;
}

.PantrySelecter-Row-Selected {
  cursor: pointer;
  user-select: none;
  color: black;
  border-bottom: black 1px solid;
}

.PantrySelecter-Row-Selected:hover {
  color: gray;
}

.PantrySelecter-Pantry-Table-Header {
  background-color: var(--primary);
}

.PantrySelecter-Ingredient-Cell {
  flex-basis: 12rem;
}

.PantrySelecter-Action-Cell {
  cursor: pointer;
  background-color: #fdcb6e;
  height: 1rem;
  user-select: none;
}

.PantrySelecter-PantryRow-container {
  padding-left: 6px;
  text-indent: -6px;
}
