.RecipeList-Container {
  align-items: center;
  font-size: 1.3rem;
}

.RecipeList-Header {
  border-bottom: 1px solid gray;
  background-color: #396dff3b;
  border-top: 1px solid gray;
  text-align: center;
  font-size: 1.5rem;
}

.RecipeRow-Container {
  user-select: none;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  transition: all 0.5s;
}

.RecipeRow-Unselected:hover {
  background-color: #00000009;
  /* background-color: #e74d3c4f; */
}

.RecipeRow-Selected {
  background-color: #2ecc714f;
}

.RecipeRow-Title {
  padding: 2px 10px;
  border-right: 1px solid gray;
  flex-basis: 30%;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.RecipeRow-Title-Text {
  cursor: pointer;
  transition: all 0.5s;
}

.RecipeRow-Title-Edit:hover::before {
  content: "edit";
  position: absolute;
  background: white;
  left: 25px;
  font-size: 12px;
  top: 6px;
  border-radius: 3px;
  border: 1px solid black;
  padding: 1px;
}

.RecipeRow-Title-Edit {
  padding-left: 4px;
  cursor: pointer;
  position: relative;
  opacity: 80%;
}

.RecipeRow-link {
  font-size: 0.9rem;
  padding-left: 4px;
}

.RecipeRow-Time {
  flex-basis: 5rem;
  flex-grow: 0;
  padding: 6px 0px;
  text-align: center;
}

.RecipeRow-Actions-Container {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-basis: 200px;
  justify-content: space-evenly;
  align-items: center;
}

.RecipeRow-Action {
  cursor: pointer;
}

.RecipeRow-RecipeBody-Container {
  padding: 0.3rem;
  border: 2px solid gray;
  border-radius: 5px;
}

label {
  display: inline-block;
  text-indent: -9999px;
}

.RecipeList-Container [type="checkbox"] {
  display: none;
}

.RecipeList-Container [type="checkbox"] + label {
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  text-indent: -9999px;
}

.RecipeList-Container [type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid var(--primary);
  background: transparent;
}

.RecipeList-Container [type="checkbox"] + label:after {
  content: "";
  position: absolute;
  display: block;
  top: 3px;
  left: 3px;
  height: 18px;
  width: 18px;
  font-size: 32px;
  line-height: 0.8;
  background: var(--primary);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.RecipeList-Container [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.RecipeList-Container [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
