.RecipeMeta-container {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.RecipeMeta-Block {
  padding: 0.3rem 0rem;
  display: flex;
  align-items: center;
}

.RecipeMeta-Text {
  height: 100%;
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 1rem;
}

.RecipeMeta-Input-Text {
  font-size: 1.2rem;
}
