.RecipeList-Container {
  align-items: center;
}

.RecipeList-Header {
  border-bottom: 1px solid gray;
  background-color: #59595966;
  border-top: 1px solid gray;
  text-align: center;
}

.RecipeRow-Container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  align-items: center;
  font-size: 1.7rem;
}

.RecipeRow-Title {
  padding: 6px 20px;
  border-right: 1px solid black;
  flex-basis: 60%;
  flex-grow: 0;
}

.RecipeRow-Time {
  border-right: 1px solid black;
  flex-basis: 5rem;
  flex-grow: 0;
  padding: 6px 0px;
  text-align: center;
}

.RecipeRow-Actions-Container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
}

.RecipeRow-Action {
  cursor: pointer;
}

.RecipeRow-RecipeBody-Container {
  padding: 0.3rem;
  border: 2px solid gray;
  border-radius: 5px;
}
