.ShoppingListPreview-Ingredient-Explanation {
  font-size: 0.8rem;
  padding-left: 1rem;
}
.ShoppingListPreview-StoreName-Header {
  font-size: 1.2rem;
  padding-top: 1rem;
}
.ShoppingListPreview-StoreName-Ingredients {
  padding-left: 1rem;
}
