.ShoppingListPreview-Ingredient-Explanation {
  font-size: 9pt;
  /* padding-left: 1rem; */
}
.ShoppingListPreview-StoreName-Header {
  font-size: 14pt;
}
.ShoppingListPreview-StoreName-Ingredients {
  /* padding-left: 1rem; */
}

.ShoppingListPreview-ingredient-li {
  font-size: 11pt;
}
